.fundo
{   
    
    background-color: rgb(36, 36, 36);
    width: 100%; 
    height: 70vh;   
}

.foto
{
    width: 35%;
    height: max-content;
    border-radius: 5%;
    margin-left: 10%;
    margin-top: 5%;
}

.Organizar
{       
    display: flex;
    flex-direction: row;
    height: 41%;
    
}

h1 
{   
    font-family: Helvetica;
    font-size: 50px;
    color: white;
    margin-left: 2%;
    margin-top: 9%;
    margin-bottom: auto;
    
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:2% ; 
  transition-duration: 0.4s;
  cursor: pointer;
    
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}