@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(21, 21, 21);
}

/* V A R I A V E I S */
:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(0, 0%, 4%, 0.4);
  --btn-color: hsla(0, 98%, 26%, 0.501);
  --bg-color: rgb(40, 40, 40);
}

/*------------------------------------------------------------------------------------------*/
/* Inicio header */
header {
  display: flex;
  align-items: center;
}

.logo {
  width: 5%;
  height: auto;
  margin-left: 10%;
  margin-right: 5%;
}

.logo {
  cursor: pointer;
}


input[type=text] {
  width: 90%;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text] {
  transition: width 0.4s ease-in-out;
  padding-left: 5%;
}

input[type=text]:focus {
  width: 200%;
}

.EUA {
  padding-right: 0.3%;
  padding-left: 30%;
  height: 15px;
}

.BR {
  height: 15px;
  padding-right: 1%;
}

button {
  position: relative;
  padding: 9px 20px;
  border: none;
  background: none;
  cursor: pointer;

  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--text-color);

  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;

}

button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after,
button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
}

button::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}

.right,
.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.right {
  left: 66%;
}

.left {
  right: 66%;
}

.right::after {
  top: -30px;
  left: calc(-66% - 20px);

  background-color: var(--bg-color);
  color: transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

button .left:hover~.right::after {
  transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }

  to {
    transform: translate(0, -66.666%);
  }
}



/* Fim header */

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Inicio Navbar */

ul {
  font-family: "Helvetica";
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;

}

ul li {
  float: left;
}

ul li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #272727;

}

.Navbar {
  background-color: #333333;
  padding-left: 10%;
}

/* Fim Navbar */

/* Começo produto */

.imagem {
  width: 50%;
  height: max-content;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.produto {
  display: flex;
  padding-top: 4%;
}

.txt {
  color: white;
  padding-left: 5%;

}

.fileira {
  width: 20%;
}

.tenis {
  background-color: rgba(59, 59, 59, 0.274);

  width: 41%;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.tenis:hover {
  background-color: #00000039;

}

@media screen and (max-height: 40000px) {
  .tenis {
    height: 33vh;
    font-size: 2vh;
  }
}

.coluna {
  width: 49%;
  display: inline-block;
}

.corpo {
  font-family: "Helvetica";
  padding-left: 6.5%;
  padding-top: 1%;
  padding-bottom: 3%;
}

a {
  text-decoration: none;
  /* remove o sublinhado azul */
}

/* Fim produto */

/* Começo Footer */

.lista {
  font-family: "Helvetica";
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.footer-content {
  display: flex;
  margin-bottom: 2%;
}

/* Fim Footer */
